body{
  /*background-color: black;*/
  background-image: url("../img/bamboo_background.png");

}

#title{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 30px;
}

#header{
  font-family: 'Quicksand';
  font-weight: bold;
  font-size: 50px;
  padding-top: 16px;
  padding-left: 100px;
  text-align: left;
}

hr{
  width:70%;
  padding:10px;
  margin:auto;
}
.main-form{
  border-radius: 10px;
  width:53%;
  margin-top: 50px;
  margin-left: 60px;
  padding:10px;
  z-index: 1;

}

.labelText{
  font-family: 'Questrial';
}

textarea{
  height:130px;
  width:100%;
  font-size: 30px;
}
